**How to Query the Chicago Crime Dataset (BigQuery)**

In [1]:
import bq_helper
from bq_helper import BigQueryHelper
# https://www.kaggle.com/sohier/introduction-to-the-bq-helper-package
chicago_crime = bq_helper.BigQueryHelper(active_project="bigquery-public-data",
                                   dataset_name="chicago_crime")

In [2]:
bq_assistant = BigQueryHelper("bigquery-public-data", "chicago_crime")
bq_assistant.list_tables()

['crime']

In [3]:
bq_assistant.head("crime", num_rows=3)

   unique_key              ...                                     location
0    10655248              ...                  (41.88574102, -87.62991594)
1    13323048              ...                (41.887904127, -87.625554948)
2     9797811              ...                (41.885730611, -87.625542215)

[3 rows x 22 columns]

In [4]:
bq_assistant.table_schema("crime")

                    name       type      mode description
0             unique_key    INTEGER  REQUIRED        None
1            case_number     STRING  NULLABLE        None
2                   date  TIMESTAMP  NULLABLE        None
3                  block     STRING  NULLABLE        None
4                   iucr     STRING  NULLABLE        None
5           primary_type     STRING  NULLABLE        None
6            description     STRING  NULLABLE        None
7   location_description     STRING  NULLABLE        None
8                 arrest    BOOLEAN  NULLABLE        None
9               domestic    BOOLEAN  NULLABLE        None
10                  beat    INTEGER  NULLABLE        None
11              district    INTEGER  NULLABLE        None
12                  ward    INTEGER  NULLABLE        None
13        community_area    INTEGER  NULLABLE        None
14              fbi_code     STRING  NULLABLE        None
15          x_coordinate      FLOAT  NULLABLE        None
16          y_coordinate      FLOAT  NULLABLE        None
17                  year    INTEGER  NULLABLE        None
18            updated_on  TIMESTAMP  NULLABLE        None
19              latitude      FLOAT  NULLABLE        None
20             longitude      FLOAT  NULLABLE        None
21              location     STRING  NULLABLE        None

What categories of crime exhibited the greatest year-over-year increase between 2015 and 2016?

In [5]:
query1 = """SELECT
  primary_type,
  description,
  COUNTIF(year = 2015) AS arrests_2015,
  COUNTIF(year = 2016) AS arrests_2016,
  FORMAT('%3.2f', (COUNTIF(year = 2016) - COUNTIF(year = 2015)) / COUNTIF(year = 2015)*100) AS pct_change_2015_to_2016
FROM
  `bigquery-public-data.chicago_crime.crime`
WHERE
  arrest = TRUE
  AND year IN (2015,
    2016)
GROUP BY
  primary_type,
  description
HAVING
  COUNTIF(year = 2015) > 100
ORDER BY
  (COUNTIF(year = 2016) - COUNTIF(year = 2015)) / COUNTIF(year = 2015) DESC
        """
response1 = chicago_crime.query_to_pandas_safe(query1)
response1.head(10)

           primary_type           ...           pct_change_2015_to_2016
0         OTHER OFFENSE           ...                             45.14
1         OTHER OFFENSE           ...                             39.80
2              HOMICIDE           ...                             36.02
3             NARCOTICS           ...                             29.16
4               ASSAULT           ...                             11.80
5   MOTOR VEHICLE THEFT           ...                             11.08
6  LIQUOR LAW VIOLATION           ...                              7.46
7               ROBBERY           ...                              7.33
8         OTHER OFFENSE           ...                              4.62
9   MOTOR VEHICLE THEFT           ...                              4.27

[10 rows x 5 columns]

Which month generally has the greatest number of motor vehicle thefts?

In [6]:
query2 = """SELECT
  year,
  month,
  incidents
FROM (
  SELECT
    year,
    EXTRACT(MONTH
    FROM
      date) AS month,
    COUNT(1) AS incidents,
    RANK() OVER (PARTITION BY year ORDER BY COUNT(1) DESC) AS ranking
  FROM
    `bigquery-public-data.chicago_crime.crime`
  WHERE
    primary_type = 'MOTOR VEHICLE THEFT'
    AND year <= 2016
  GROUP BY
    year,
    month )
WHERE
  ranking = 1
ORDER BY
  year DESC
        """
response2 = chicago_crime.query_to_pandas_safe(query2)
response2.head(10)

   year  month  incidents
0  2016     12       1106
1  2015      8        967
2  2014     10        922
3  2013      1       1470
4  2012      6       1469
5  2011      1       1862
6  2010     12       1880
7  2009     12       1539
8  2008      7       2015
9  2007     10       1709

DAY 1: SELECT Query (looking where description is homicide)

In [7]:
# Random query test, was just querying for homicides and mainly using this
# to check how big this query would be an execute accordingly
dayOneQuery = """SELECT
  date,
  primary_type,
  description,
  year,
  arrest,
  domestic
FROM
  `bigquery-public-data.chicago_crime.crime`
WHERE
  primary_type = 'HOMICIDE'
ORDER BY
  date DESC
"""

# Check the query size prior to running the query to estimate how long
# it will take to run, in this case its .358, meaning 350 MBs
# since its measured in GB's, this is easily runnable, fairly small
chicago_crime.estimate_query_size(dayOneQuery)
# This method will take the query and return a pandas dataframe
dayOneQueryResponse = chicago_crime.query_to_pandas_safe(dayOneQuery)
dayOneQueryResponse.head(10)

                       date primary_type    ...    arrest  domestic
0 2025-04-09 16:40:00+00:00     HOMICIDE    ...     False     False
1 2025-04-05 20:09:00+00:00     HOMICIDE    ...     False     False
2 2025-03-31 12:30:00+00:00     HOMICIDE    ...     False     False
3 2025-03-28 18:13:00+00:00     HOMICIDE    ...     False     False
4 2025-03-27 16:51:00+00:00     HOMICIDE    ...     False     False
5 2025-03-26 09:00:00+00:00     HOMICIDE    ...     False     False
6 2025-03-26 05:22:00+00:00     HOMICIDE    ...     False     False
7 2025-03-25 15:40:00+00:00     HOMICIDE    ...     False     False
8 2025-03-24 18:42:00+00:00     HOMICIDE    ...     False      True
9 2025-03-24 11:36:00+00:00     HOMICIDE    ...     False     False

[10 rows x 6 columns]

In [8]:
# Convert the query response into a csv format
dayOneQueryResponse.to_csv("homicide_crimes.csv")

DAY 2: Group By Query (Query that gets the count of each crime type and sorts them in descending by count)

In [9]:
dayTwoQuery = """SELECT primary_type, COUNT(unique_key) AS count
FROM `bigquery-public-data.chicago_crime.crime`
GROUP BY primary_type 
ORDER BY 
    count DESC
"""
dayTwoQueryResponse = chicago_crime.query_to_pandas_safe(dayTwoQuery)
dayTwoQueryResponse.head(50)

                         primary_type    count
0                               THEFT  1758979
1                             BATTERY  1511816
2                     CRIMINAL DAMAGE   943789
3                           NARCOTICS   760225
4                             ASSAULT   552535
5                       OTHER OFFENSE   516804
6                            BURGLARY   440108
7                 MOTOR VEHICLE THEFT   421728
8                  DECEPTIVE PRACTICE   379784
9                             ROBBERY   311408
10                  CRIMINAL TRESPASS   223959
11                  WEAPONS VIOLATION   121896
12                       PROSTITUTION    70309
13         OFFENSE INVOLVING CHILDREN    59519
14             PUBLIC PEACE VIOLATION    54196
15                        SEX OFFENSE    33471
16                CRIM SEXUAL ASSAULT    27336
17   INTERFERENCE WITH PUBLIC OFFICER    19745
18               LIQUOR LAW VIOLATION    15284
19                           GAMBLING    14653
20                              ARSON    14218
21                           HOMICIDE    13728
22            CRIMINAL SEXUAL ASSAULT    10478
23                         KIDNAPPING     7450
24                           STALKING     5839
25                       INTIMIDATION     5027
26  CONCEALED CARRY LICENSE VIOLATION     1512
27                          OBSCENITY      925
28                   PUBLIC INDECENCY      214
29                       NON-CRIMINAL      189
30           OTHER NARCOTIC VIOLATION      157
31                  HUMAN TRAFFICKING      133
32                     NON - CRIMINAL       38
33                          RITUALISM       24
34   NON-CRIMINAL (SUBJECT SPECIFIED)        9
35                  DOMESTIC VIOLENCE        1

DAY 3: ORDER BY (but also using the extract SQL stuff for messing with the date time information), query for finding the weekday most common for crime

In [10]:
dayThreeQuery = """SELECT
  FORMAT_DATE('%A', date)      AS dayOfWeekName,
  COUNT(*)                     AS number_of_crimes,        
  ROUND(
    100 * COUNT(*) / SUM(COUNT(*)) OVER(),  -- percent out of all days 
    2
  )                             AS percent_of_total
FROM `bigquery-public-data.chicago_crime.crime`
GROUP BY dayOfWeekName
ORDER BY number_of_crimes DESC;
"""
dayThreeQueryResponse = chicago_crime.query_to_pandas_safe(dayThreeQuery)
print(dayThreeQueryResponse.head(50))

  dayOfWeekName  number_of_crimes  percent_of_total
0        Friday           1244855             15.00
1     Wednesday           1192573             14.37
2      Saturday           1189671             14.34
3       Tuesday           1184753             14.28
4      Thursday           1180397             14.23
5        Monday           1173396             14.14
6        Sunday           1131841             13.64